* {box-sizing: border-box;}
 
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
 
#navbar {
  overflow: hidden;
 background: linear-gradient(20deg, #000, #FF0000, #bb00bb, #03a9f4);
 background-size: 200%;
  padding: 5px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 99;
}
 
#navbar a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 14px; 
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  border-radius: 4px;
}
 
#navbar {
  font-size: 25px;
  font-weight: bold;
  transition: 0.4s;
}
 
#navbar a:hover {
  background-color: dodgerblue;
}
 
#navbar-right {
  float: right;
}
 
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

#navbar .navlogo {
    float: left;
    font-size: 15px;
    font-weight: bold;
    transition: 0.4s;
    width: 50px;
    height: 50px;
}